{% extends "base.html" %}
{% block title %} Login | Trips Tracking {% endblock %}

{% block content %}

<br><br>

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-4">
          <div class="card">
              <div class="card-header text-center">
                  <h4>Login</h4>
              </div>
              <div class="card-body">
                  <form method ="POST" action="{{ url_for('users.login_user') }}" target="_self">
                      
                      <div class="mb-3">
                          <label for="username" class="form-label">Username</label>
                          <input type="text" class="form-control" id="username" name="username" required>
                          <div class="invalid-feedback">
                              Please enter your username.
                          </div>
                      </div>

                      <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" id="password" name="password" required>
                          <div class="invalid-feedback">
                              Please enter your password.
                          </div>
                      </div>

                      <button type="submit" class="btn btn-primary w-100">Login</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-info mt-3">{{ message }}</div>
    {% endfor %}
{% endwith %}

{% endblock %}
