{% extends "base.html" %}
{% block title %} Logout | Trips Tracking {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Logout</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Are you sure you want to log out?</p>
                    <form method ="POST" action="{{ url_for('users.logout_user') }}" target="_self">

                        <button type="submit" class="btn btn-danger w-100">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-info mt-3">{{ message }}</div>
    {% endfor %}
{% endwith %}

{% endblock %}